@model SitecoreReference.Models.Location
<li class="col-sm-6">
    <address>
        <h5>Head Office</h5>
        <p>
            @Model.State <br>
            @Model.City, @Model.State @Model.Zip
        </p>
        <p>
            Phone: @Model.Phone <br>
            Email @Model.Email
        </p>
    </address>

    <address>
        <h5>Zonal Office</h5>
        <p>
            1537 Flint Street <br>
            Tumon, MP 96911
        </p>
        <p>
            Phone:670-898-2847 <br>
            Email Address:info@domain.com
        </p>
    </address>
</li>
